<div class="jumbotron">
		
		<div class="header-window"> TRANSFER&EcircNCIA BANC&AacuteRIA </div>
		
		<form name="contaForm">
			<label for="inputNome">DADOS DE ORIGEM</label>
			<br/>
			<label for="inputNome" class="label-default">Ag&ecircncia:</label>
			<input class="form-control margin-padrao" type="input" ng-model="conta.agenciaOrigem" placeholder="Agência de Origem" 
				ng-required="true" name="inputAgenciaOrigem" ng-minlength="1" ui-mask="9.999,99"/>
				
			<label for="inputNome" class="label-default">Conta:</label>
			<input class="form-control margin-padrao" type="input" ng-model="conta.contaOrigem" placeholder="Conta de Origem" 
				ng-required="true" name="inputContaOrigem" ng-minlength="1"/>
			
			
			<br/>
			<label for="inputNome">DADOS DE DESTINO</label>
			<br/>
			<label for="inputNome" class="label-default">Ag&ecircncia:</label>
			<input class="form-control margin-padrao" type="input" ng-model="conta.agenciaDestino" placeholder="Agência de Destino" 
				ng-required="true" name="inputAgenciaDestino" ng-minlength="1"/>
				
			<label for="inputNome" class="label-default">Conta:</label>
			<input class="form-control margin-padrao" type="input" ng-model="conta.contaDestino" placeholder="Conta de Destino" 
				ng-required="true" name="inputContaDestino" ng-minlength="1"/>
				
			<br/>
			<label for="inputNome" class="label-default">Valor:</label>
			<div style="width: 40%;">
			<input class="form-control margin-padrao" type="input" ng-model="conta.valor" placeholder="Conta de Destino" 
				ng-required="true" name="inputContaDestino" ng-minlength="1"/>
			</div>

			<br/>

			<button class="btn btn-primary btn-block margin-padrao" ng-click="adicionarConta(conta)" ng-disabled="contaForm.$invalid">Adicionar Conta</button>

		</form>		
	</div>
