<div class="jumbotron">
		<!--
		<h3 class="title-app">{{app}} </h3>
		
  		<input type="text" ng-model="criterioDeBusca" ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}" placeholder="O que você esta buscando" class="form-control"/>
		<table ng-if="contas.length > 0" class="table">
			<th></th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
			<th>Cor</th>
			<tr ng-class="{'selecionado negrito' : conta.selecionado}" ng-repeat="conta in contas | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | limitTo:6">
				<td><input type="checkbox" ng-model="conta.selecionado"/></td>
				<td><a href="#/detalhesConta/{{conta.id}}">{{conta.nome | uppercase | name | ellipsis:10}}</a></td>
				<td>{{conta.telefone}}</td>
				<td>{{conta.operadora.nome | lowercase}}</td>
				<td><div class="div-cor" ng-style="{'background-color': conta.cor}"></div></td>
				
			</tr>
		</table>

		<hr/>
		<a class="btn btn-primary btn-block" href="#/novoConta">Novo Conta </a>
		<button class="btn btn-danger btn-block margin-padrao" ng-disabled="!isContaSelecionado(contas)" ng-click="apagarContas(contas)">Apagar Conta</button>
		-->
		
		<form name="contaForm">
			<input class="form-control margin-padrao" type="input" ng-model="conta.nome" placeholder="Nome" 
				ng-required="true" name="inputNome" ng-minlength="3"/>
			<input class="form-control margin-padrao" type="input" ng-model="conta.telefone" placeholder="Telefone" 
				ng-required="true" name="inputTelefone" ng-minlength="8" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<input class="form-control margin-padrao" type="text" ng-model="conta.data" name="data" placeholder="Data" ui-date/>
			
			<input class="form-control margin-padrao" type="text" ng-model="conta.cpf" placeholder="CPF"
				name="inputCPF" ui-cpf/>
			<!-- 
			<select class="form-control margin-padrao" ng-model="conta.operadora" 
				ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select>-->
			<select class="form-control margin-padrao" ng-model="conta.cor"
				ng-options="cor.corcss as cor.nome for cor in cores | orderBy:'nome'">
				<option value="">Selecione uma cor</option>
			</select>

			<div ng-messages="contaForm.inputNome.$error" ng-show="contaForm.inputNome.$dirty">
				<div ng-message="required" class="alert alert-danger margin-padrao">
					Por favor, preencha o campo Nome!
				</div>
				<div ng-message="minlength" class="alert alert-danger margin-padrao" class="alert alert-danger margin-padrao">
					O campo nome deve ter mais de 2 caracteres!
				</div>
			</div>
			<div ng-messages="contaForm.inputTelefone.$error" ng-show="contaForm.inputTelefone.$dirty">
				<div ng-message="required" class="alert alert-danger margin-padrao">
					Por favor, preencha o campo Telefone!
				</div>
				<div ng-message="minlength" class="alert alert-danger" class="alert alert-danger margin-padrao">
					O campo telefone deve ter mais de 8 caracteres!
				</div>
				<div ng-message="pattern" class="alert alert-danger" class="alert alert-danger margin-padrao">
					O campo telefone deve ter o modelo DDDDD-DDDD!
				</div>
			</div>

			<button class="btn btn-primary btn-block margin-padrao" ng-click="adicionarContato(conta)" ng-disabled="contaForm.$invalid">Adicionar Conta</button>

		</form>
		
	</div>
