<div class="jumbotron">
		<!-- <h4 ng-bind="app"> </h4> -->
		<h3 class="title-app">{{app}} </h3>

		<!-- <ui-alert message="errorMessage"></ui-alert> -->
		
		<div class="row" style="float: right !important; padding-right: 20px;">
			<input type="checkbox" ng-model="mostrarAccordions"/>
			Mostrar Accordions
		</div>
		<br/>
		
		<div ng-show="mostrarAccordions">
			<ui-accordions>
				<ui-accordion title="Accordion 1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit quam at est laoreet viverra. 
					Donec ut mauris facilisis enim fermentum pulvinar vel a eros.
				</ui-accordion>
				<ui-accordion title="Accordion 2">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit quam at est laoreet viverra. 
					Donec ut mauris facilisis enim fermentum pulvinar vel a eros.
				</ui-accordion>
					<ui-accordion title="Accordion 3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit quam at est laoreet viverra. 
					Donec ut mauris facilisis enim fermentum pulvinar vel a eros.
				</ui-accordion>
			</ui-accordions>
		</div>
		
  		<input type="text" ng-model="criterioDeBusca" ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}" placeholder="O que você esta buscando" class="form-control"/>
		<table ng-if="contatos.length > 0" class="table">
			<th></th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
			<th><a href="" ng-click="ordenarPor('data')">Data</a></th>
			<th>Cor</th>
			<tr ng-class="{'selecionado negrito' : contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | limitTo:6">
				<!-- Acima no orderBy: 'nome':true" o true é o reverse -->
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | uppercase | name | ellipsis:10}}</a></td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy'}}</td>
				<td><div class="div-cor" ng-style="{'background-color': contato.cor}"></div></td>
				<!--
				<td ng-repeat="(key, value) in contato">
					{{value}}
				</td>
				-->
			</tr>
		</table>

		<hr/>
		<a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato </a>
		<button class="btn btn-danger btn-block margin-padrao" ng-disabled="!isContatoSelecionado(contatos)" ng-click="apagarContatos(contatos)">Apagar Contato</button>
	
	</div>
