<div class="jumbotron">
<form name="contatoForm">
			<input class="form-control margin-padrao" type="input" ng-model="contato.nome" placeholder="Nome" 
				ng-required="true" name="inputNome" ng-minlength="3"/>
			<input class="form-control margin-padrao" type="input" ng-model="contato.telefone" placeholder="Telefone" 
				ng-required="true" name="inputTelefone" ng-minlength="8" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<input class="form-control margin-padrao" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date/>
			
			<input class="form-control margin-padrao" type="text" ng-model="contato.cpf" placeholder="CPF"
				name="inputCPF" ui-cpf/>
			
			<select class="form-control margin-padrao" ng-model="contato.operadora" 
				ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select>
			<select class="form-control margin-padrao" ng-model="contato.cor"
				ng-options="cor.corcss as cor.nome for cor in cores | orderBy:'nome'">
				<option value="">Selecione uma cor</option>
			</select>

			<!-- $dirty se o campo já foi 'tocado' alguma vez -->
			<!-- contatoForm.inputNome.$invalid para validar apenas se é required == true-->
			
			<div ng-messages="contatoForm.inputNome.$error" ng-show="contatoForm.inputNome.$dirty">
				<div ng-message="required" class="alert alert-danger margin-padrao">
					Por favor, preencha o campo Nome!
				</div>
				<div ng-message="minlength" class="alert alert-danger margin-padrao" class="alert alert-danger margin-padrao">
					O campo nome deve ter mais de 2 caracteres!
				</div>
			</div>
			<div ng-messages="contatoForm.inputTelefone.$error" ng-show="contatoForm.inputTelefone.$dirty">
				<div ng-message="required" class="alert alert-danger margin-padrao">
					Por favor, preencha o campo Telefone!
				</div>
				<div ng-message="minlength" class="alert alert-danger" class="alert alert-danger margin-padrao">
					O campo telefone deve ter mais de 8 caracteres!
				</div>
				<div ng-message="pattern" class="alert alert-danger" class="alert alert-danger margin-padrao">
					O campo telefone deve ter o modelo DDDDD-DDDD!
				</div>
			</div>


			<!-- MODELO SEM O NG-MESSAGES
				<div ng-show="contatoForm.inputNome.$error.required && contatoForm.inputNome.$dirty" class="alert alert-danger margin-padrao">
					Por favor, preencha o campo Nome!
				</div>
				<div ng-show="contatoForm.inputNome.$error.minlength" class="alert alert-danger margin-padrao">
					O campo nome deve ter mais de 3 caracteres!
				</div>
				<div ng-show="contatoForm.inputTelefone.$error.required && contatoForm.inputTelefone.$dirty" class="alert alert-danger">
					Por favor, preencha o campo Telefone!
				</div>
				<div ng-show="contatoForm.inputTelefone.$error.minlength" class="alert alert-danger">
					O campo telefone deve ter mais de 8 caracteres!
				</div>
				<div ng-show="contatoForm.inputTelefone.$error.pattern && !contatoForm.inputTelefone.$error.minlength" class="alert alert-danger">
					O campo telefone deve ter o formato DDDDD-DDDD
				</div>
			-->
			

			<button class="btn btn-primary btn-block margin-padrao" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>

		</form>
	</div>